.card-1 {
    width: 300px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    text-align: center;
    margin: 10px 35px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
    

}


.card-2 {
    width: 300px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    margin: 10px 35px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
}

.card-2 img {
    width: 300px;
    height: 320px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}



.card-1 img {
    width: 300px;
    height: 320px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-t {
    text-align: center;
    padding-top: 20px;
    font-weight: bold;
}

.card-t1 {
    text-align: center;
    line-height: 1;
    text-align: justify;
    padding: 20px;
    font-size: 14px;
}

.row {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    flex-wrap: wrap;

}

.section-card {
    width: 88.8%;
    padding-bottom: 30px;
}

.card-item:hover {
    transform: translateY(-5px);
}

