.contenedor2 {
  width: 100%;
  height: 100%;
  margin: auto;
}

.textDeCrearCampeonato {
  margin: 20px;
  font-size: 30px;
  height: 30px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.contendorPrincipalFormulario {
  position: relative;
  
}

.Formulario {
  border-radius: 15px;
  padding: 10px;
  background-color: rgba(87, 97, 105, 0.836);
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  gap: 30px;
  margin-top: 25px;
  color: white;
}
.name_select_fechas {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group {
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  margin-top: 30px;
  margin-bottom: 15px;
  width: 90%;
}

.form-group input {
  align-content: center;
  width: 90%;
  font-size: 15px;
  border-radius: 10px;
  background-color: transparent;
  border: white 1px solid;
  color: rgb(255, 255, 255);
  transition: 0.15s all ease;
  padding: 20px;
}
.form-group input:focus {
  border: rgba(0, 208, 255, 0.982) 1px solid;
}

.form-group input::placeholder {
  color: transparent;
}

.form-group .form-label {
  position: absolute;
  text-align: center;
  font-size: 18px;
  padding: 5px 10px;
  color: rgb(255, 252, 252);
  pointer-events: none;
  transition: 0.15s all ease;
  height: 25px;
}
.form-label {
  width: 55%;
}

.form-group input:focus + .form-label,
.form-group input:not(:placeholder-shown) + .form-label {
  transform: translate(-66px, -25px);
  background-color: #12aed1cd;
  font-size: 15px;
  border-radius: 11px;
  font-size: 16px;
  color: white;
  border: 1px rgb(255, 255, 255) solid;
}

.DireccionDeSelectores {
  margin: auto;
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.selectores {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  padding: 30px 0px;
}
.selectores select {
  border-radius: 10px;
  padding: 5px;
  font-size: 18px;
  height: 40px;
}
.selectores select:hover {
  background-color: #61d6f7df;
}

.AlineacionDeFechas {
  width: 100%;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
}

.Inscripcion {
  width: 20%;
  border: white solid 1px;
  padding: 20px;
  border-radius: 5px;
  color: white;
}

legend {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

option,
select {
  color: rgb(255, 255, 255);
  background-color: #12aed1cd;
}

.fechas {
  background-color: #12aed1cd;
  border-radius: 5px;
  border: 2px solid black;
}
.BotonVolver{
  display: flex;
  justify-content: start;
  align-items: start;
  width: 100%;
  background-color: transparent;
  border: transparent;
  /* margin: 5px; */
  margin-top: 15px;
  margin-bottom: 15px;
}
.Volver{
  margin-left:15px;
  background-color: white;
  border: 1px solid black;
  border-radius: 100%;
  padding: 10px;
  color: black;
  cursor: pointer;
}
.Volver:hover{
  background-color:#12aed1cd ;
  color: white;
  cursor: pointer;
}
.fechas:hover {
  background-color: #12aed1cd;
}

.Dias_Cantidad {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.textoDiasDefinidos {
  font-size: 18px;
  text-align: center;
}
.botonVerCalendario:hover {
  filter: drop-shadow(0 -0px 0 rgb(0, 213, 255));
}



input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  margin: 0;
  position: static;
}

input[type="number"] {
  content: "\25B2";
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 80px;
  position: relative;
}

input[type="number"]::after {
  content: "\25B2";
  position: absolute;
  top: 30%;
  color: #888;
}

input[type="number"]::before {
  content: "\25BC";
  position: absolute;
  bottom: 30%;
  right: 8px;
  color: #888;
}

input[type="number"]:focus {
  background-color: #f0f0f0;
  color: #333;
}
.EspacioCalendario {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.min_max {
  display: flex;
  flex-direction: row;
}
.calendario {
  width: 70%;
}
.InputDeFechas {
  background-color: #12aed1cd;
  padding: 5px;
  font-size: 20px;
  border-radius: 10px;
  color: white;
}
.InputDeFechas:hover {
  background-color: #61d6f7df;
}
.AlineacionDeMinYMax {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.minMax {
  border: 1px solid black;
  border-radius: 15px;
  height: 40px;
  background-color: #12aed1cd;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.cantidadJugador{
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  width: 75%;
  border: white solid 1px;
  padding: 20px;
  border-radius: 5px;
  color: white;
  
}
.BotonGuadar {
  border-radius: 10px;
  padding: 15px;
  border: 1px solid black;
  background-color: #ffffffdf;
  color: black;
  cursor: alias;
  margin-right: 15px;
  margin-top: 25px;
  cursor: pointer;
}
.BotonGuadar:hover {
  background-color: #12aed1cd;
  color: white;
  cursor: pointer;
}
.link {
  width: auto;
}
.contendorConfirmacionCambios {
  background-color: white;
  color: black;
  border-radius: 15px;
  border: 1px solid rgb(0, 0, 0);
  padding: 15px;
  width: 30%;
  z-index: 100%;
}
.textoConfirmacion {
  text-align: center;
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  margin: 10px;
}
.AlineacionBotonesConfirmacion {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 45px;
}
.BotonesConfirmacion {
  position: relative;
  width: 20%;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  word-wrap: break-word;
  margin: 10px;
  text-align: center;
  cursor: pointer;
}
.BotonesConfirmacionCancelar{
  width: 22%;
  position: relative;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  word-wrap: break-word;
  margin: 10px;
  text-align: center;
  cursor: pointer;
  font-size: 17px;
}

.BotonesConfirmacion:hover {
  background-color: #61d6f7df;
  color: white;
  border: 1px solid white;
  cursor: pointer;
}
.BotonesConfirmacionCancelar:hover{
  background-color: #61d6f7df;
  color: white;
  border: 1px solid white;
  cursor: pointer;
}
.MuestraDeConfirmacion {
  z-index:50;
  background-color: #05050542;
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.DivBotonGuardar {
  display: flex;
  justify-content: end;
  align-items: end;
  margin: auto;
 width: 100%;
}
.textDeCrearCampeonato {
  color: white;
}
