 .contenedorPartido {
    height:50px;
    display: flex;
    align-items: center;
    
}
.btnJornada{
    border-radius: 10px;
    height: 40px;
    background-color: #12aed1cd;
}
option .btnJornada{
    background-color: #12aed1cd;
}
.contepar{
    border-bottom: 2px solid #fcfafa;
}
.contenedorImagen{
    display: flex;
    align-items: center;
    width: 300px;
margin-left: 10%;
}


.nombreEquipo{
    margin: 10%;
    color: white;
}
.faltas{
    width: 35px;
    height: 35px;
    margin-left: 25%;
    display: flex;
    justify-content: center;
}.amarillas{
    background-color: #fbff05;
}
.rojas{
    margin: 1%;
    background-color: #f00202;
}
.marcador{
    color: #ffff;
    display: flex;
    justify-content: center;
    text-align: center;
    border-right: #fcfafa 2px solid ;
   font-size:larger;
height: 50px;
width: 200px;

}
.estadoPartido{
    display: flex;
    justify-content: center;
font-size: medium;
margin-left: 5%;

}
.estadoPartido .botonDetalle{
    height: 50px;
    width: 160px;
    margin-bottom: 14px;
    border-radius: 10px;
}
.contenedorBoton{
    width: 73px;
}
.botonDetalle{
    background-color: #12aed1cd;
    color: white;
}
.estadoTitulo{
    color: white;
}
.tituloDetalle{
    color: white;
}