.jornada {
    color: #090909;
    font-weight: bold;
    padding-left: 50%;
}
.contenedorCompleto{
    display: block;
    background-color: rgba(61, 67, 81, 0.505);
        margin: 15px;
        border-radius: 5%;
    

}