.conteInteUnitario{
    margin: 2%;
}
.contenedorIntegrantes{
    display: flex;
    flex-direction: column;
    
}
.botonIntegrante{
    border-radius: 7px;
    height: 40px;
    background-color: #12aed1cd;
}