.contenedorPadreRegisro{
  background-image: url("/images/iniciarSesion/in.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  z-index: 1000;
}
.contenedorFormularioReg {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #ccc;
  max-width: 800px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.858);
  animation: cambioColor 4s infinite alternate;
}
@keyframes cambioColor {
  0% {
    background-color: #ffffff;
  }
  50% {
    background-color: #dfe6e9a7;
  }
  100% {
    background-color: #efefef51;
  }
}

.tituloPrincipal, .tituloSecundario {
  text-align: center;
  margin-bottom: 20px;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-group {
  width: 48%;
  margin-bottom: 15px;
}

.campoDato {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group-btn {
  text-align: center;
}

.Registrar {
  background-color: #12aed1cd;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.Registrar:hover {
  background-color: #0056b3;
}