.main-modalidad{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2a2a2a;
    column-gap: 1rem;
}

/* modalida.css */

.input-box {
    margin-bottom: 20px;
}

.input-box label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-box .column {
    display: flex;
    align-items: center;
}

.input-box .select-box {
    flex: 1;
    margin-left: 10px;
}

.input-box select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.button-container {
    text-align: center;
}

.button-container button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button-container button:hover {
    background-color: #0056b3;
}