.contenedorPagePerfil{
    display: flex;
    flex-direction: row;
    gap: 30px;
    
}
.principalCuenta{
    display: flex;
    gap: 16px;
    
}
.section{
   margin-top: 20px;
   width: 80%;
   color: white;
}
.cambiar{
    margin: 0%;
}

.textPerfil{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.formulario {
    display: grid;
    padding: 10px; /* Aumentar el padding */
    background-color: rgba(116, 126, 137, 0.3);
    width: 80rem;
    border-radius: 15px;
    margin-top: 20px;
    margin: 5rem auto; /* Centrar en la pantalla */
    justify-content: center;
    gap: 80px;
    box-sizing: border-box; /* Incluir padding en el ancho y alto */
}


.contenedorFormulario{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    width: 20rem;
    margin-bottom: 10px;
}
.textoFmo{
    display: flex;
    flex-direction: column;
    gap: 22px;
    width: max-content;
}

.cajaTexto{
    width: 500px;
    height: 30px;
    border-radius: 6px;
    padding-left: 30px;
    margin-bottom: 10px;
}
.guardar{
    background-color: #12aed1cd;
    color: aliceblue;
    border-radius: 5px;
    height: 30px;
    width: max-content;
    font-weight: bolder;
    
}

.text{
    margin: 0%;
    padding-top: 9px;
    color: rgb(10, 9, 9);
}