.contenedorPadreLogin {
  background-image: url("/images/iniciarSesion/imgIn.png");
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  z-index: 1000;
}

.contenedorSecunLogin {
  padding: 50px;
  border-radius: 10px;
  max-width: 450px;
  width: 90%;
  height: 470px;
  margin-left: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.858);
  animation: cambioColor 4s infinite alternate;
}
@keyframes cambioColor {
  0% {
    background-color: #ffffff;
  }
  50% {
    background-color: #dfe6e9a7;
  }
  100% {
    background-color: #efefef51;
  }
}

.contenedorSecunLogin h1 {
  text-align: center;
  margin-bottom: 35px;
}

.contenedorSecunLogin form {
  display: flex;
  flex-direction: column;
}

.contenedorSecunLogin label {
  font-weight: bold;
}

.contenedorSecunLogin input {
  margin-bottom: 10px;
  padding: 8px;
  background-color: #ffffffcd;
  border: 1px solid #181818;
  border-radius: 5px;
}

.contenedorSecunLogin button {
  padding: 10px;
  background-color: #12aed1cd;
  color: white;
  border: none;
  border-radius: 5px;
  border: 1px solid #181818;
  cursor: pointer;
  margin-top: 40px;
}

.enlacesAdicionales span,
.enlacesAdicionales a {
  margin-right: 10px;
  cursor: pointer;
}

.etiquetaDato {
  margin-bottom: 10px;
  color: #0a0707;
}

.enlacesAdicionales {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.registrateIniciar {
  margin-right: 10px;
  color: #0a0a0a;
  text-decoration: none;
  align-items: center;
  font-size: smaller;
  margin-left: 0px;
  font-weight: lighter;
}

.olvidarContraseña {
  color: #0b0b0b;
  cursor: pointer;
  margin-top: -100px;
  font-size: smaller;
  font-weight: lighter;
}
.campoDato,
.campoContraseña {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #000000;
}
input::placeholder {
  color: #000;
}
.iconLogin {
  color: #12aed1cd;
  position: absolute;
  right: 10px;
  top: 40%;
  transform: translateY(-50%);
}
.contIconoLog {
  position: relative;
}
