.contenedorPrincipalInicioSe {
  background-repeat: no-repeat;
  margin-top: 1%;
  background: rgba(40, 42, 44, 0.647);
  width: 90%;
  max-width: 770px;
  height: 50%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-shadow: 0 0 10px rgb(205, 207, 210);
  margin-left: 5%;
  margin-right: auto;
}
@media (min-width: 771px) {
  .contenedorPrincipalInicioSe {
    margin-left: 32%;
  }
}

.contenedorDatos form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 40px;
  margin-top: 50px;
}

.campoDato,
.campoContraseña {
  margin: 10px;
  width: 280px;
  height: 30px;
  border-radius: 8px;
  padding-left: 30px;
  color: black;
}

.olvidoContraseña {
  color: rgb(255, 255, 255);
}

.botonInicioSesion {
  border-radius: 8px;
  background-color: #12aed1cd;
  height: 35px;
  width: 295px;
  cursor: pointer;
  margin: 10px;
  padding-left: 30px;
}

.botonInicioSesion {
  transition: transform 0.2s ease;
}

.botonInicioSesion:hover {
  transform: scale(1.05);
}

.tituloPrincipal {
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
  animation: changeColor 3s infinite alternate;
}
@keyframes changeColor {
  0% {
    color: #d3d3d78a;
  }
  50% {
    color: #97e9f2;
  }
  100% {
    color: #ffffff;
  }
}
.registrateIniciar {
  color: #ffffff;
}

.etiquetaDato,
.campoDato,
.tituloPrincipal,
.botonInicioSesion,
.enlaceOlvido {
  font-weight: bold;
  color: #ffffff;
}

.campoDato,
.campoContraseña {
 
  width: 90%;
}

.contenedorPrincipalInicioSe {
  animation: fadeIn 0.8s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.campoDato::placeholder,
.campoContraseña::placeholder {
  opacity: 1;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.campoDato:focus::placeholder,
.campoContraseña:focus::placeholder {
  transform: translateY(-23px);
}

.campoDato:not(:focus)::placeholder,
.campoContraseña:not(:focus)::placeholder {
  transform: translateY(0);
}

.enlacesAdicionales {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 13px;
  padding: 15px;
  cursor: pointer;
  color: white;
}

.contraseñaFor {
  margin-right: 280px;
}
.correoFor {
  margin-right: 230px;
}
