.contenedorSubirImagenes {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(61, 67, 81, 0.605);
  border-radius: 8px;
  margin-left: 120px;
  margin-top: 20px;
  width: 70%;
  overflow: visible; /* Permitir que el contenido expanda el contenedor */
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.botonpagina {
  width: 120px;
  height: 33px;
}

.divpaginasiguiente {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.divmayor {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  width: 100%;
  height: auto;
  object-fit: cover; /* Ensures images maintain aspect ratio */
  border-radius: 8px;
}

input,
select,
button {
  color: rgb(70, 37, 37);
  margin: 10px 0;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  background-color: #a1b9d1;
  width: 100%;
}

button {
  background-color: #12aed1cd;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0093b4cf;
}

.divdatos {
  width: 100%;
}
