.botonCancelar,
.botonEnviar {
  background-color: #12aed1cd; 
  color: white; 
  border: none; 
  padding: 10px 20px; 
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}


.botonCancelar {
  background-color: #12aed1cd; 
  margin-top: 60px;
}


.botonEnviar {
  background-color: #12aed1cd; 
  margin-top: 60px;
}

.botonCancelar:hover,
.botonEnviar:hover {
  background-color: #0a7b98cd;
}


.botonesRecuperarClave {
  display: flex; 
  justify-content: space-between;
}

.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  background-color: rgb(255, 255, 255); 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 250px;
  margin-left: 545px;
  border-radius: 20px;
}


.modalContenido {
  width: 50%;
  height: 30%;
 background-color: #66666671;
  padding: 20px;
  border-radius: 5px;
  border-radius: 20px;
}
.emailTitle{
  color: rgb(0, 0, 0);
}
.contraseñaTitle{
  color:rgb(0, 0, 0)
}
.cerrarModal {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: rgb(11, 11, 11);
}
.llenarEmail{
  border-radius: 8px;
  padding-left: 30px;
}
.llenarContraseña{
  border-radius: 8px;
  padding-left: 30px;
  margin-bottom: 15px;
  
}