
.html_recuperarContraseña {
  background-image: url('../../../public/images/recuperarContraseña/depositphotos.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}

.contenedorRecuperarContraseña {
 
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(116, 126, 137, 0.6);
  width: 650px;
  height: auto;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.tituloRecuperarContraseña {
  font-size: 24px;
  color: #333333;
  margin-bottom: 20px;
}

.contenedorFormulario {
  margin-bottom: 20px;
}

.campoConEtiqueta {
  margin-bottom: 15px;
}

.etiquetaDato {
  font-weight: bold;
}

.campoDato {
  width: 40%;
  height: 40px;
  border: none;
  border-radius: 20px; 
  background-color: #f1ebeb;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin: 15px;
}

.botonesRecuperarContraseña {
  display: flex;
  justify-content: space-between;
  gap: 80px; 
}

.botoncancelar{
  width: 30%;
  height: 40px;
  border: none;
  border-radius: 20px; 
  background-color: #060606;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin: 15px;
}
.botonEnviar {
  width: 88%;
  height: 40px;
  border: none;
  border-radius: 20px; 
  background-color: #060606;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin: 15px;
}

.botoncancelar:hover,
.botonEnviar:hover {
  background-color: #555555;
}


@media screen and (max-width: 768px) {
  .contenedorRecuperarContraseña {
    padding: 10px;
  }

  .campoDato {
    max-width: 100%;
  }

  .botonesRecuperarContraseña {
    flex-direction: column;
  }

  .botoncancelar,
  .botonEnviar {
    width: 100%;
    margin-top: 10px;
    padding-left: 0; 
  }
}
