.botonCancelar,
.botonEnviar {
  background-color: #12aed1cd; /* Color de fondo */
  color: white; /* Color del texto */
  border: none; /* Sin borde */
  padding: 10px 20px; /* Espacio interior */
  margin-right: 10px; /* Margen derecho */
  border-radius: 5px; /* Bordes redondeados */
  font-size: 16px; /* Tamaño de fuente */
  cursor: pointer; /* Cursor al pasar sobre el botón */
  transition: background-color 0.3s ease; /* Transición suave para el cambio de color */
}

/* Estilos para el botón Cancelar */
.botonCancelar {
  background-color: #666; /* Cambia el color de fondo para el botón Cancelar */
}

/* Estilos para el botón Enviar */
.botonEnviar {
  background-color: #12aed1cd; /* Cambia el color de fondo para el botón Enviar */
}

/* Efecto de hover para los botones */
.botonCancelar:hover,
.botonEnviar:hover {
  background-color: #0a7b98cd; /* Cambia el color de fondo al pasar el ratón */
}

/* Alineación horizontal de los botones */
.botonesRecuperarClave {
  display: flex; /* Usa flexbox */
  justify-content: space-between; /* Espacia los elementos horizontalmente */
}

.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.742); /* Fondo oscuro semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-left: 105px;
}

/* Estilos para el contenedor del modal */
.modalContenedor {
  background-color: rgb(197, 34, 34);
  padding: 20px;
  border-radius: 5px;
}
.emailTitle{
  color: white;
}
.contraseñaTitle{
  color:white
}
.cerrarModal {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: white;
}