.container {
    display: flex;
    justify-content: flex-start;
    position: relative;
}

.header {
    position: absolute;
    left: 0;
    width: 100%;
}

.centered {
    text-align: center;
    margin-bottom: 20px;
    margin-right: 950px;
    margin-top: 20px;
}

.fases-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-left: 130px;

}

.fase {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    max-width: 600px;
    margin-left: 50px;
}

.fase h2 {
    text-align: center;


}

.encuentro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.equipo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.vs {
    font-size: 24px;
    margin: 0 10px;
}

.fecha,
.hora {
    margin-bottom: 5px;

}


.additional-info {
    border: 1px solid #ccc;
    margin: 10px;
    margin-left: -150px;


}