.barraLateral {
  background-color: rgba(61, 67, 81, 0.8);
  width: 100px;
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  position: static;
}

.lista {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "Chakra Petch", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}

.contenedorAside {
  display: flex;
  align-items: center;
  margin-bottom: 90px;
}

.contenedorAside:hover {
  background-color: #12aed1cd;
  border-radius: 8px;
}

.img,
.img2,
.img3,
.img4,
.img5 {
  margin-right: 10px;
}

.li {
  text-decoration: none;
  color: white;
}
